.widget {
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px;
  margin: 5px 0;
}

.active {
  background: steelblue;
}

div.widget-col {
  display: inline-block;
  margin: 1em 0.5em;
  width: 350px;
  height: 600px;
  max-height: 600px;
  overflow: scroll;
}

div[data-id=side-nav] {
  display: inline-block;
}

[data-id=widget-display] {
  display:inline;
}

[data-id=menu-button] {
  display: block;
}

#widgets-menu {
  list-style-type: none;
}
