/* ==========================================================================
   Variables
   ========================================================================== */
/* Colors */
/* Font Weights */
/* ==========================================================================
   Mixins
   ========================================================================== */
/* ==========================================================================
   Layout
   ========================================================================== */
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  background: #eaedf1;
  color: #323a45;
  font: 400 100%/1.5 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility; }

p, h3 {
  margin: 0; }

.sidebar {
  background: #323a45;
  position: fixed;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.container {
  padding-left: 5.2em; }

.column {
  float: left;
  padding: 0 2%;
  width: 33.3%; }

/* ==========================================================================
   Navigation
   ========================================================================== */
.menu-button {
  cursor: pointer; }

#widgets-menu {
  list-style-type: none;
  margin: 0;
  padding: 0; }
  #widgets-menu .widgets-menu-item {
    cursor: pointer;
    -webkit-transition: background 0.2s ease;
    -moz-transition: background 0.2s ease;
    -o-transition: background 0.2s ease;
    -ms-transition: background 0.2s ease;
    transition: background 0.2s ease; }
    #widgets-menu .widgets-menu-item:hover {
      background: #39424f; }

/* ==========================================================================
   Widgets
   ========================================================================== */
.widget-list {
  list-style: none;
  margin: 0;
  padding: 0;
  height: 100%;
  border: 3px dashed transparent;
  padding: 1em; }

.droppable-column {
  border: 3px dashed #1fbba6; }

.widget {
  background: white;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  overflow: hidden;
  margin-bottom: 1.5em; }

.widget-header {
  background: #323a45;
  color: white;
  font-size: .9em;
  padding: .5em 1em; }
  .widget-header .widget-title {
    display: inline-block;
    font-size: 1.2em;
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 250px; }

.widget-body {
  padding: 1em; }

.widget-close {
  cursor: pointer;
  float: right;
  font-size: 1.7em;
  line-height: 1em; }

.widget-place-holder {
  background: yellow;
  height: 16px; }

#flickr-images {
  height: 320px; }

/* ==========================================================================
   Twitter
   ========================================================================== */
[data-id=twitter-output], [data-id=blog-output] {
  display: table; }

.user-img, .blog-image-container {
  float: left;
  width: 5em; }

.tweet, .blog-post {
  width: 100%;
  clear: both;
  border-bottom: 1px solid #CECECE;
  padding: 0.5em 0;
  min-height: 6em; }

.tweet-body, .blog-information {
  margin-left: 3.5em; }

.tweeter-user-img, .blog-image {
  height: 4em; }

/* ==========================================================================
   Flickr
   ========================================================================== */
#flickr-images {
  text-align: center; }

/* ==========================================================================
   Font Icons
   ========================================================================== */
.icon {
  color: white;
  font-size: 1.5em;
  display: inline-block;
  padding: .8em; }

/* ==========================================================================
   Inputs
   ========================================================================== */
.widget-form {
  margin-bottom: .3em; }

input[type="text"] {
  border: none;
  color: #323a45;
  padding: .5em;
  -webkit-border-radius: 2px 0 0 2px;
  -moz-border-radius: 2px 0 0 2px;
  -ms-border-radius: 2px 0 0 2px;
  -o-border-radius: 2px 0 0 2px;
  border-radius: 2px 0 0 2px;
  height: 33px;
  line-height: 1.5em;
  font-size: 1em;
  display: inline-block;
  vertical-align: top;
  width: 200px; }

/* ==========================================================================
   Button
   ========================================================================== */
button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: #1fbba6;
  -webkit-border-radius: 0 2px 2px 0;
  -moz-border-radius: 0 2px 2px 0;
  -ms-border-radius: 0 2px 2px 0;
  -o-border-radius: 0 2px 2px 0;
  border-radius: 0 2px 2px 0;
  border: none;
  color: white;
  cursor: pointer;
  display: inline-block;
  padding: .5em .8em;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  font-style: normal;
  line-height: 1.5em;
  height: 33px;
  font-size: 1em;
  font-weight: normal;
  vertical-align: top;
  margin-left: -3.6px;
  -webkit-transition: background 0.2s ease;
  -moz-transition: background 0.2s ease;
  -o-transition: background 0.2s ease;
  -ms-transition: background 0.2s ease;
  transition: background 0.2s ease; }
  button:hover {
    background: #1dac99; }

/* ==========================================================================
   Clearfix
   ========================================================================== */
.container {
  *zoom: 1; }
  .container:before, .container:after {
    content: " ";
    display: table; }
  .container:after {
    clear: both; }
