<!doctype html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" type="text/css/" href="/stylesheet/normalize.css">
    <link rel="stylesheet" type="text/css/" href="/stylesheet/font-awesome.min.css">
    <link rel="stylesheet" type="text/css/" href="/stylesheet/home.css">

    <link href='http://fonts.googleapis.com/css?family=Roboto:400,700' rel='stylesheet' type='text/css'>

    <script src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/bower_components/underscore/underscore.js"></script>
    <script src="/bower_components/flickr-widget/dist/federated-dashboard-flickr-widget.min.js"></script>
    <script src="/bower_components/wunderground-widget/dist/federated-dashboard-wunderground-widget.min.js"></script>
    <script src="/bower_components/blog-parser-widget/dist/federated-dashboard-blog-parser-widget.min.js"></script>
    <script src="/bower_components/markitondemand-widget/dist/federated-dashboard-markitondemand-widget.min.js"></script>
    <script src="/bower_components/markitondemand-widget/lib/highstock.js"></script>
    <script src="/bower_components/markitondemand-widget/lib/exports.js"></script>
    <script src="/bower_components/twitter-widget/dist/federated-dashboard-twitter-widget.min.js"></script>
    <script src="/node_modules/flickrapi/browser/flickrapi.dev.js"></script>
    <script src="bower_components/notification-widget/dist/federated-dashboard-notification-widget.min.js"></script>
    <script src="/dist/federated-dashboard.min.js"></script>
    <script src="/lib/ejs.js"></script>
    <script src="/lib/jquery-ui.min.js"></script>
    <script src="/lib/jquery.simulate.js"></script>
    <script src="/lib/annyang.min.js"></script>
  </head>

  <body>
    <nav class="sidebar">
      <div data-id="side-nav">
        <div data-id="widgets-container">
          <ul id="widgets-menu" data-id="widgets-menu">
            <li class="widgets-menu-item">
              <i class="fa fa-bars menu-button icon icon-list" data-id="menu-button"></i>
            </li>
            <div class= 'widget-buttons' data-id="widget-buttons"></div>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container" data-id="widget-display">
      <div class="column" data-id="col0-container">
        <ul class="widget-list" data-name="sortable-list" data-id="col0">
        </ul>
      </div>

      <div class="column" data-name="sortable-list" data-id="col1-container">
        <ul class="widget-list" data-id="col1">
        </ul>
      </div>

      <div class="column" data-id="col2-container">
        <ul class="widget-list" data-name="sortable-list" data-id="col2">
        </ul>
      </div>
    </div>
    <div style="display:none">
      <div data-id="inside-invizible" ></div>
    </div>
    <script>
      controller = new Dashboard.Controller({defaults: true, animationSpeed: 400, sortableList: '[data-name=sortable-list]', sortableHandle: '[data-name=sortable-handle]'})
      controller.initialize()
      //new Dashboard.SpeechRecognition.Controller(controller).initialize()
    </script>
  </body>
</html>
