<div id="widgets-container">
  <ul id="widgets-menu">
    <li><button data-id="pictures-widget">Pictures</button></li>
    <li><button data-id="weather-widget">Weather</button></li>
    <li><button data-id="stock-widget">Stock</button></li>
    <li><button data-id="twitter-widget">Twitter</button></li>
  </ul>
</div>
