<div id="widgets-container">
  <ul id="widgets-menu">
    <li><button data-id="stock-widget">Stock</button></li>
    <% for (var i = 0; i < buttons.length; i++) { %>
      <li><%= buttons[i] %></li>
    <% } %>
  </ul>
</div>
