<div class="widget-buttons">
  <li class="widgets-menu-item">
    <span class="icon icon-sun" data-id="weather-widget"></span>
  </li>

  <li class="widgets-menu-item">
    <span class="icon icon-camera" data-id="pictures-widget"></span>
  </li>

  <li class="widgets-menu-item">
    <span class="icon icon-bars" data-id="stock-widget"></span>
  </li>

  <li class="widgets-menu-item">
    <span class="icon icon-twitter" data-id="twitter-widget"></span>
  </li>
<div>
