<div data-id="widgets-container">
  <ul id="widgets-menu" data-id="widgets-menu">
    <% for (var i = 0; i < buttons.length; i++) { %>
      <li>
        <%= buttons[i] %>
      </li>
    <% } %>
  </ul>
</div>
